.container {
  height: 100%;
}
.container div {
  display: flex; /* height: 32%; */
  flex-direction: column;
  align-items: center;
}
.container div h2 {
  width: 14%;
  text-align: center;
  border-bottom: 1.5px solid #ffb80078;
}
.content-b {
  background-color: #fd9184;
}
.container div p {
  width: 60%;
  font-size: 21px;
}
